* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px;
}

.header img {
  width: 84px;
}

.header h1 {
  font-size: 4em;
}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: space-between;
}

#trybewarts-forms-logo {
  height: 500px;
}

#radio-family {
  display: flex;
  flex-direction: column;
}

#checkbox-content {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  bottom: 0;
  margin-top: auto;
  margin-bottom: 0;
  background-color: rgb(50, 167, 145);
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
